{% extends 'base.html' %}
{% block content %}
<head>
    {% load static %}
    <link type = "text/css" rel = "stylesheet" href = "{% static 'css/food_details.css' %}">

</head>
<body>
    {{reviews|json_script:"reviews_data"}}
    <div class="food_home">
        <div class="top-div">
            <div class="left-div">
                <div class="main-picture">
                    <img src = "/media/{{food_info.main_picture}}">
                </div>
            </div>
            <div class="right-div">
                <div class="name-div">
                    {{food_info.name}}
                </div>
                <div class="food-category">
                    Category: {{food_info.category}}
                </div>
                <div class="rate-info">
                    <div class="stars">{{food_info.overal_rate}}<img src = '/media/icons/star.svg' class = 'star-icon'></div>
                    <div class="total-ratings" id = "total-ratings">(<p>{{food_info.ratings}}</p>)</div>
                    <div class="price-div">Price: ${{food_info.price}}</div>
                </div>
                <div class="food_description">{{food_info.description}}</div>
                <div class="misc-details">
                    {% if food_info.vigen %}
                    {% if food_info.vigen == "True" %}
                    <div class="item-vigen">Vigen: Yes</div>
                    {%else%}
                    <div class="item-vigen">Vigen: No</div>
                    {% endif %}
                    {% endif %}

                    {% if food_info.gluten_free %}
                    {% if food_info.gluten_free == "True" %}
                    <div class="item-gluten">Gluten Free: Yes</div>
                    {%else%}
                    <div class="item-gluten">Gluten Free: No</div>
                    {% endif %}
                    {% endif %}
                </div>
                <div class="restaurant_page">
                    Restaurant: <a href = "/details/restaurants/{{food_info.restaurantId}}">{{food_info.restaurantName}}</a>
                </div>
            </div>
        </div>
        <div class="middle-div">
            <div class="pictures-title">Pictures</div>
            <div class="pictures">
            {% for pic in pictures %}
            <div class="picture-img"><a href = "{{pic}}"><img src = "{{pic}}"></a></div>
            {% endfor %}
        </div>
        </div>
        <div class="bottom-div">
            <div class="pictures-title" id = "reviews-title">Reviews</div>
            <div class="reviews" id = "reviews">
                {% if request.user.is_anonymous %}
                    <div class="no-review">Would you like to write a review? Please login first.<button class="login">Login</button></div>
                    {% else %}
                    <h4>Write your review here</h4>

                    <div class="new-review">
                        <form action="" method = "POST">
                            {% csrf_token %}
                            <input type = "text" placeholder="Review Title" name = "reviewTitle" id = "reviewTitle" required>
                            <label for = "overal-experience">Overal Experience</label>
                            <select id = "rating-select" required name = "rating">
                                <option value = "1">1</option>
                                <option value = "2">2</option>
                                <option value = "3">3</option>
                                <option value = "4">4</option>
                                <option selected = "selected" value = "5">5</option>
                            </select><img src='/media/icons/star.svg' class='star-icon'>
                            <textarea type = "textarea" placeholder="Write your review here" id = "reviewText" required name = "reviewText"></textarea>
                            <input type = "submit" value = "Submit">

                        </form>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% if reviews.len != 0 %}
            <div class="load-more-reviews">
                <button class = "more-reviews">More Reviews</button>
            </div>

            {% endif %}
        </div>
    </div>
</div>

    <script src = "{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src = "{% static 'js/food_details.js' %}"></script>
</body>
{% endblock %}