@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

*{
  box-sizing:border-box;
  margin:0;
}

nav{
    width:100%;
    background:#09590996;
    padding:1%;
}
.left-nav{
  display:inline-block;
  width:24%;
}
.middle-nav{
  width:45%;
  display:inline-block;
  margin-left:5%;
  
}
.right-nav{
  width:20%;
  display:inline-block;
  margin-left:5%;

}
#search-box{
  width:80%;
  padding:1.5% 3%;
  font-size:1.2vw;
  background:transparent;
  border:none;
  border-bottom:1px solid white;
  color:white;
  outline:none;
}
#search-box::placeholder{
  color:#ffffffa3;
}
#search-box:focus{
  outline:none;
  border-bottom:2px white solid;
  background:#09590947
}
#search-button{
  font-size:1.2vw;
  margin-left:4%;
  padding:1.3% 2.2%;
  outline:none;
  border:none;
  border-radius:5px;
  font-weight:200;
  font-family:"Arial";
}
.logo a{
  font-family: 'Montserrat';
  font-size:1.7vw;
  font-weight: bolder;
  margin-left:3%;
  text-decoration: none;
  color:black;
}
.login-drop{
  text-align:right;
  margin-right:2%;
  font-size:1.2vw;
}
.login-drop button{
  font-size:1.2vw;
  margin-left:4%;
  padding:2.5% 5%;
  outline:none;
  border:none;
  border-radius:5px;
  font-weight:200;
  font-family:"Arial";
  background:#e5e5e5;
}
.login-dropdown-menu{
  margin-top:.1%;
  right:0;
  box-shadow:1px 1px 1px 1px #4c974a;
  background:#f2f2f285;
  padding:1%;
  display:none;
  width:50%;
  margin-left:49%;
  font-size:1.5vw;
}
.login-dropdown-menu input{
  display:inline;
  padding:1%;
  border:none;
  background:transparent;
  border-bottom:green 1px solid;
  font-size:1.3vw;
  text-align:center;
  width:39%;
}
#login-button{
  width:20%;
  background:#e1e5e2;
  border:1px solid gray;;
  border-radius:2px;
}
.login-dropdown-menu input:focus{
  border-bottom:3px solid #059d2d;
  outline:none;
}

.login-dropdown-menu form a{
  text-align:center;
  color:#0000f7;
  display:block;
  margin-top:2%;
  font-size:1.2vw;
}
.login-dropdown-menu form a:visited{
  color:#0000f7;
}

.messages{
  width:50%;
  margin:auto;
  padding:1%;
  font-size:1.1vw;
  font-family:Arial;

}
.errorlist{
  display:inline-block;
  list-style-type:none;
 
}
.errorlist ul{
  list-style-type:disc;
}

.success-message{
  background:#26ea26;
  padding:2%;
  text-align:center;
  color:black;
  font-size:1.2vw;
  width:100%;
  border-radius:5px;

}
.error-message{
  background:#ff0000f0;
  padding:1%;
  text-align:center;
  border-radius:5px;
  color:white;
  font-size:1.2vw;

 
}
.hide-temp{
  display:none;
}
#login-button:hover, .login:hover, #search-button:hover, #logout-button:hover{
  cursor:pointer;
  background:lightyellow;
}
.logout{
  text-align:right;
}
.logout p{
  display:inline;
 
  margin-right:5%;
  color:white;
  font-size:1.5vw;
}
#logout-button{
  border-radius:5px;
  border:none;
  padding:3%;
  font-size:1.3vw;
}