@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

*{
  box-sizing:border-box;
  margin:0;
}
nav{
    width:100%;
    background:#09590996;
    padding:1%;
}
.left-nav{
  display:inline-block;
  width:24%;
}
.middle-nav{
  width:45%;
  display:inline-block;
  margin-left:5%;
  
}
.right-nav{
  width:20%;
  display:inline-block;
  margin-left:5%;

}
#search-box{
  width:80%;
  padding:1.5% 3%;
  font-size:1.2vw;
  background:transparent;
  border:none;
  border-bottom:1px solid white;
  color:white;
  outline:none;
}
#search-box::placeholder{
  color:#ffffffa3;
}
#search-box:focus{
  outline:none;
  border-bottom:2px white solid;
  background:#09590947
}
#search-button{
  font-size:1.2vw;
  margin-left:4%;
  padding:1.3% 2.2%;
  outline:none;
  border:none;
  border-radius:5px;
  font-weight:200;
  font-family:"Arial";
}
.logo a{
  font-family: 'Montserrat';
  font-size:1.7vw;
  font-weight: bolder;
  margin-left:3%;
  text-decoration: none;
  color:black;
}
.login-drop{
  text-align:right;
  margin-right:2%;
  font-size:1.2vw;
}
.login-drop button{
  font-size:1.2vw;
  margin-left:4%;
  padding:2.5% 5%;
  outline:none;
  border:none;
  border-radius:5px;
  font-weight:200;
  font-family:"Arial";
  background:#e5e5e5;
}
.login-dropdown-menu{
  position:absolute;
  top:12%;
  right:2%;
  background:yellow;
  padding:2%;
}
.login-dropdown-menu input{
  display:block;
  margin-bottom:3%;
  padding:1%;
  text-align:center;
  width:100%;
}
.messages{
  width:50%;
  margin:auto;
  padding:1%;
  font-size:1.1vw;
  font-family:Arial;

}
.errorlist{
  display:inline-block;
  list-style-type:none;
 
}
.errorlist ul{
  list-style-type:disc;
  margin-bottom:2%
  
}
.errorlist ul li{
  color:
}
.success-message{
  background:green;
}
.error-message{
  background:#ff000091;
 
}