@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

*{
  box-sizing:border-box;
  margin:0;
}
nav{
    width:100%;
    background:#09590996;
    padding:1%;
}
.left-nav{
  display:inline-block;
  width:24%;
}
.middle-nav{
  width:45%;
  display:inline-block;
  margin-left:5%;
  
}
.right-nav{
  width:20%;
  display:inline-block;
  margin-left:5%;

}
#search-box{
  width:80%;
  padding:1.5% 3%;
  font-size:1.2vw;
  background:transparent;
  border:none;
  border-bottom:1px solid white;
  color:white;
  outline:none;
}
#search-box::placeholder{
  color:#ffffffa3;
}
#search-box:focus{
  outline:none;
  border-bottom:2px white solid;
  background:#09590947
}
#search-button{
  font-size:1.2vw;
  margin-left:4%;
  padding:1.6% 2.8%;
  outline:none;
  border:none;
  border-radius:5px;
  font-weight:200;
  font-family:"Arial";
}
.logo a{
  font-family: 'Montserrat';
  font-size:1.7vw;
  font-weight: bolder;
  margin-left:3%;
  text-decoration: none;
  color:black;
}
