@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
body{
    background:#f4f1f1;
    
}
a:visited{
    color: inherit;
}

.main-content{
    width:80%;
    margin:auto;
    margin-top:4%;
    height:100%;
}

.filters{
    display:inline-block;
    width:10%;
    vertical-align:top;
    height:80%;

}
.search-results-right{
    display:inline-block;
    width:85%;
    vertical-align:top;
    background:white;
    padding:1%;
    border-radius:5px;
}
.filters div{
    margin-top:5%;
    padding:10% 5%;
    border:none;
    border-bottom:1px solid black;
    font-size:1.2vw;
    color:#000000;
    text-align:center;
    font-family:"Arial";

}
.active-filter{
    font-weight:bold;
    background:#a7a6a685 !important;
}
.filters div:hover{
    cursor: pointer;
    background:#c5c5c585;
}
.foods-results, .restaurants-results{
    padding:1%;
}
.left-picture-food ,.left-picture-rest{
    display:inline-block;
    width:15%;
}
.left-picture-rest img{
    width:100%;
    border-radius:3%;
   
}
.left-picture-food img{
    width: 100%;
    border-radius: 3%;
}
.right-side-food, .right-side-rest{
    width:82%;
    display:inline-block;
    vertical-align:top;
    margin-left:2%;

}
.food-div, .rest-div{
    border-bottom:1px solid gray;
}
.right-side-food div, .right-side-rest div{
    margin-bottom:1.5%;
}
.food-name, .food-name a{
    display:inline-block;
    color:green;
    font-weight:bold;
    font-size:1.5vw;
    text-decoration: none;
}
.rest-name, .rest-name a{
    text-decoration: none;
    display:inline;
    color:#0c5fd6;
    font-weight:bold;
    font-size:1.5vw;
}
.food-name:hover, .rest-name a:hover{
    color:rgb(78, 78, 78);
    cursor:pointer;
}
.food-rating, .rest-rating{
    display:inline;
    margin-left:5%;
    font-size: 1.3vw;
}
.food-description{
    background:#efeded;
    padding:2%;
    border-radius:3px;
    font-size:1.2vw;
    max-height:20%;
    overflow-y:auto;

}
.food-title{
    padding:2%;
    color:#000000;
    font-weight:bold;
    font-size:1.5vw;
    border-radius:5px;
    text-align:center;
    background:#00701d6e;
    Font-family:"Cambria";
}
.restaurant-title{
    padding:2%;
    color:#000000;
    font-weight:bold;
    font-size:1.5vw;
    border-radius:5px;
    text-align:center;
    background:#003c706e;
    Font-family:"Cambria";

}
.rest-div, .food-div{
    padding: 2%;
}
.rest-rating div, .food-rating div{
    display:inline;
}
.star-rate{
    margin-left:1%;
}
.star-icon{
    width:1.5vw;
    vertical-align:text-bottom;
}

.total-rate{
    margin-left:3%;
    font-size:1.2vw;
    color:#2e95ff;
}
.rest-address ,.by-restaurant, .by-restaurant a{
    font-size:1.2vw;
    margin-top:2%;
    font-family:arial;
    text-decoration:none;
}
.by-restaurant a:hover{
    color:rgb(43, 143, 177);
}

.no-show{
    display: none;
}
.more-button{
    width:20%;
    padding:1% 0;
    margin:auto;
    margin-bottom:3%;
    text-align:center;
    background:lightgray;
    border-radius:5px;
    font-size:1.2vw;
}
.more-button:hover{
    cursor:pointer;
    background:#f6e0c0;
}
