{% extends 'base.html' %}
{% block content %}
<head>
    {% load static %}
    <link rel = "stylesheet" type = "text/css" href = "{% static 'css/register.css' %}">
</head>
            <div class="register-form">
                <form action="" method ="POST" enctype="multipart/form-data">
                    {% csrf_token %} 

                    <div class="email">
                        {{form.email}}
                    </div>
                    <div class="username">
                        {{form.username}}
                    </div>
                    <div class="password">
                        {{form.password}}
                    </div>
                    <div class="password2">
                        <input type = "password" placeholder="Retype password" required>
                    </div>
                    <div class="image">
                        <label>Upload your profile picture(optional)</label>{{form.image}}
                    </div>
                    <div class="buttons">
                        <input type = "submit" value = "Submit">
                    </div>
                </form>
            </div>
        </div>
{% endblock %}