*{
    margin:0;
    box-sizing:border-box;
}
.main-content{
    width: 50%;
    margin:auto;
    box-shadow: rgb(82, 82, 82) 1px 1px 1px 1px;
    border-radius: 5px;
    margin-top:5%;
    padding:1%;
    
}
.register-form{
    width: 75%;
    margin:5% auto;
    background:rgba(0, 94, 0, 0.618);
    margin-top:5%;
    padding:5%;
    border-radius:5px;
}
.register-form div{
    width:100%;
    margin-top:5%;
    padding:2%;
}
.register-form div input:not([type="submit"]){
    text-align:center;
    width:100%;
    font-size:1rem;
    border-radius:2px;
    border:none;
    border-bottom: white 1px solid;
    background:transparent;
    color:white;
    padding:2%;
    outline:none;

}
.register-form div input::placeholder{
    color:lightgray;
}
.buttons input[type="submit"]{
  width:80%;
  display:block;
  margin:auto;
  padding:2%;
  border-radius: 5px;
  border:none;
}
.buttons input[type="submit"]:hover{
  background:aliceblue;
  cursor:pointer;
}
